<div class="top-panel">
  <!-- <div class="top-panel-menu">
    <a *ngFor="let tab of tabsLiga" class="top-button">
      <div class="top-button-logoLiga">
        <img class="top-button-logoLiga-img" src="{{ tab.icon }}" />
      </div>
      <span>{{ tab.title }}</span>
    </a>
  </div> -->
  <!-- <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
    <mat-tab *ngFor="let tab of tabsLiga" class="top-button">
      <ng-template mat-tab-label>
        <div class="logoLiga">
          <img class="logoLiga-img" src="{{ tab.icon }}" />
        </div>
        {{tab.title}}
      </ng-template>


      <standings></standings>
    </mat-tab>

  </mat-tab-group> -->
</div>