@import "../scss/vars/responsive";
@import "../scss/vars/colors";
@import "../scss/vars/sizes";

$left-panel-width: 15rem;

:host {
  .app-layout {
    background: linear-gradient(
      125.42deg,
      $background-color-min,
      $background-color-max
    );
    display: flex;
    height: 100%;
    width: 100%;

    .left-part {
      background-color: $left-panel-primery;
      height: 100%;
      left: 0;
      position: absolute;
      width: 15rem;
    }

    .hideLeftPanel {
      position: absolute;
      left: -20rem;
    }

    .hideLeft {
      margin: 1rem 0 1rem 1.5rem !important;
    }

    .hideContent {
    }

    .delimiter {
      margin-left: 15rem;
      position: relative;

      background: #242934;
      box-shadow: inset -2px -2px 4px #4c5463, inset 2px 2px 4px #191d28;
      width: 0.5rem;
    }

    .toggle {
      @include round-button;
      background-color: linear-gradient(
        116.82deg,
        $round-backgraund-min,
        $round-backgraund-max
      );

      mat-icon {
        @include round-button-icon(1rem);
      }
    }
  }
}
