<div class="content-wrapper">
  <!-- <result-card class="card" [title]="Liga[1].title">
    <p>ff</p>
    <charts-standings class="chart" [data]="dataBLiga"> </charts-standings>
  </result-card> -->
  <div class="content-wrapper-chart" [class.hideCard]="hide">
    <div class="title">
      {{ Liga[1].title }}
      <button class="toggle" (click)="togglePanel()">
        <mat-icon>{{ hide ? "fullscreen_exit" : "fullscreen" }}</mat-icon>
      </button>
    </div>
    <charts-standings class="chart" [data]="dataAPL"> </charts-standings>
  </div>
  <div class="content-wrapper-chart" [class.hideCard]="hide">
    <div class="title">
      {{ Liga[4].title }}
      <button class="toggle" (click)="togglePanel()">
        <mat-icon>{{ hide ? "fullscreen_exit" : "fullscreen" }}</mat-icon>
      </button>
    </div>
    <charts-standings class="chart" [data]="dataBLiga"> </charts-standings>
  </div>
  <div class="content-wrapper-chart" [class.hideCard]="hide">
    <div class="title">
      {{ Liga[4].title }}
      <button class="toggle" (click)="togglePanel()">
        <mat-icon>{{ hide ? "fullscreen_exit" : "fullscreen" }}</mat-icon>
      </button>
    </div>
    <chart-standings-v2 class="chart" [data]="dataBLiga"> </chart-standings-v2>
  </div>
</div>
