@import "./colors";
$card-container-padding: 0.5rem;
$box-shadow-button: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
$round-button-indent: 0.3rem;
$header-height: 4.3rem;
$universal-card-title-height: 2rem;
$card-reach-sunburst: 4rem;
$padding-filters-panel: 0.5rem;
$with-container-filters: 20%;
$dashboard-charts-height: 0.5;
$card-padding: 0.8rem;
$dashboard-height: 100%;
$width-scroll: 0.5rem;
$line-height-label-filter: 1.2rem;
$reverse-title-height: 1rem;
$aurora-table-border: 0.05rem solid hsla(0, 0%, 100%, 0.25);

$round-button-size: 2rem;
@mixin round-button-icon($size) {
  font-size: $size;
  height: $size;
  width: $size;
  color: $white;
}

@mixin round-button {
  align-items: center;
  background-color: $round-backgraund;

  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  margin-top: 4.7rem;
  height: $round-button-size;
  justify-content: center;
  outline: none;
  width: $round-button-size;
  position: absolute;
  left: -0.8rem;
  box-shadow: -4px -4px 10px #4c5463, 4px 4px 10px #1f2427;

  &:hover {
    background-color: $round-backgraund;
    box-shadow: -1px -1px 5px #4c5463, 1px 1px 5px #1f2427;
  }
}
