<div class="left-part-content">
  <div class="logo-wrapper">
    <img class="logo" src="../../../../../assets/img/logologo.png" />
  </div>
  <div class="menu-items">
    <div class="menu-items-group">
      <div class="menu-items-group-content">
        <a
          *ngFor="let page of pages"
          color="left-panel-primery"
          class="left-panel-menu-item"
        >
          <mat-icon *ngIf="page.icon">{{ page.icon }}</mat-icon>
          <span>{{ page.title }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
